@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">@ViewBag.Option1</h1>
    <h1 class="display-4">@ViewBag.Option2</h1>
    <h1 class="display-4">@ViewBag.SubOpt1</h1>
    <h1 class="display-4">@ViewBag.SubOpt2</h1>
    <h1 class="display-4">@ViewBag.subOptions1</h1>
    <h1 class="display-4">@ViewBag.subOptions2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
